* {
	font-family: Montserrat;
	color: white;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	min-width: 1300px;
}

.header {
	/*display: flex;
	justify-content: center;*/
	width: 100%;
	height: 900px;
	background-image: url(img/bgc.png);
	background-position: cover;
}

.header_info {
	margin-left: 8%;
	padding-top: 30px;
	padding-bottom: 20px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.header_nav {
/*	height: 47px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;*/
	width: 80%;
	margin-left: 8%;
	display: flex;
	justify-content: space-evenly;
}

.header_item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_item:not(:last-child) {
	border-right: 1px solid white;
	padding-right: 107px;
	padding-left: 70px;
}

.header_btn {
	margin-left: 30px;
	margin-top: 583px;
	display: flex;
	justify-content: center;
}

.header_btn a {
	background-color: #99862A;
	padding: 15px 30px;
	margin-right: 30px;
}

.wine_card {
	padding-top: 100px;
	height: 856px;
	background-color: #282828;
}

.card_info {
	margin-left: 200px;
	margin-right: 200px;
	height: 656px;
	padding-top: 100px;
	background-color: #282828;
	border: 3px solid #C4C4C4;
}

.card_title {
	font-weight: 700;
	font-size: 24px;
	margin-left: 20%;
	padding-bottom: 40px;
	align-items: center;
}

.procherk {
	display: flex;
	justify-content: center;
}

.card_p {
	padding-top: 40px;
	text-align: center;
	display: flex;
	align-items: center;
	margin-right: 10%;
	margin-left: 10%;
}

.img_card {
	padding-top: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.header_item:hover .a {
	сolor: black;
	background-color: white;
}

.header_item:hover {
	color: black;
	background-color: white;
}

.header_nav a{
	border-top: 1px solid white;
	padding-left: 93px;
	padding-right: 90px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid white;
	transition: 0.5s;
}

.header_nav a:not(:last-child){
	border-right: 1px solid white;
}

.header_nav a:hover{
	background-color: white;
	color: black;
}

.collection {
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 0px;
	padding-bottom: 80px;
	/*width: 100%;*/
	height: 1000px;
	background-color: #E6E3C4;
}

.collection_text {
	border-top: 1px solid #998431;
	border-bottom: 1px solid #998431;
	height: 850px;
	width: 80%;
	padding-bottom: 100px;
}

.collection_text h5 {
	padding-top: 40px;
	color: black;
	line-height: 24px;
	font-weight: 500;
	font-style: 16px;
}

.collection_title {
	padding-top: 30px;
	font-family: Playfair Display;
	font-size: 36px;
	line-height: 38px;
	font-weight: 700;
	color: black;
	padding-bottom: 30px;
}

.line {
	width: 160px;
	border-bottom: 1px solid black;
}

.collection_p {
	width: 45%;
	padding-top: 30px;
	color: black;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 30px;
}

.collection_item {
	color: black;
	display: flex;
}

.collection_num {
	padding-right: 24px;
	padding-bottom: 26px;
	padding-top: 26px;
	padding-left: 24px;
	border-right: 1px solid black;
	color: black;
}

.collection_table_text {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 37px;
	padding-bottom: 15px;
}

.table_num {
	border-top: 1px solid #000;
}

.collection_table_title {
	font-weight: 600;
	font-size: 16px;
	font-family: Playfair Display;
	color: black;
}

.collection_table_p {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: black;
}

.bottom_table_p {
	width: 45%;
	font-size: 14px;
	line-height: 21px;
	padding-top: 30px;
	color: black;
	padding-bottom: 40px;
}

.collection_btn {
	margin-top: 30px;
	background-color: #998431;
	padding: 15px 30px;
}

.collection_body {
	width: ;
	padding-bottom: 100px;
	display: flex;
}

.collection_img {
	border-top: 1px solid #998431;
	border-bottom: 1px solid #998431;
	padding-top: 120px;
	margin-right: 150px;
	padding-bottom: 100px;
}

.first_img {
	width: 440px;
	height: 440;
}

.collection_img_flex {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}

.collection_img_flex img {
	width: 200px;
	height: 200px;
}

.collection_img_flex img:not(:last-child) {
	padding-right: 30px;
}

.form {
	padding-right: 200px;
	padding-left: 200px;
	padding-top: 100px;
	height: 700px;
	background-color: #282828;
}

.form_body{
	left: 150px;
	right: 150px;
	position: absolute;
	height: 600px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	border: none;
}

input:focus {
	border: none;
}

.form_top {
	/*position: relative;*/
	/*right: 200;*/
	display: flex;
	justify-content: space-around;
}

.form_top div {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #282828;
	position: relative;
	top: -40;
	font-size: 36px;
	font-family: Playfair Display;

}

.form_top .left_img {
	position: relative;
	top: -50;
	left: -90;
}

.form_top .right_img {
	position: relative;
	top: -50;
	right: -90;
}

.line_white {
	position: relative;
	top: -170;
	width: 150px;
	border-top: 1px solid white;
}

.form_p {
	text-align: center;
	position: relative;
	top: -70px;
	padding-right: 170px;
	padding-left: 170px;
}

.input_flex {
	display: flex;
	padding-bottom: 30px;
}

.input_flex input {
	background-color: inherit;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	padding-left: 5px;
}

.input_flex input:not(:last-child){
	margin-right: 30px;
}

.form_origin {
	display: flex;
	flex-direction: column;
}

.form_place {
	background-color: inherit;
	border-bottom: 1px solid white;
	margin-bottom: 40px;
	padding-bottom: 10px;
}

.form_btn {
	font-weight: 500;
	font-size: 16px;
	color: white;
	background-color: #282828;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border: 1px solid white;
	transition: 0.4s;
}

.form_btn:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

input {
	outline:none;
}

.footer {
	height: 220px;
	padding-top: 50px;
	background-color: #998431;
}

.footer_top {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	width: 80%;
	padding: 19px 0px;
	border-bottom: 1px solid white;
	margin-left: 10%;
	border-top: 1px solid white;
	display: flex;
	justify-content: space-around;
}

.footer_top_link:hover {
	color: #0015ff;
	transition: 0.5s;
}


.footer_bottom {
	width: 80%;
	margin-left: 10%;
	justify-content: space-around;
	display: flex;
	border-bottom: 1px solid white;
}

.footer_bottom h3, .footer_social {
	font-weight: 600;
	font-size: 16px;
	padding: 20px 0px;
	padding-right: 55px;
}

.footer_bottom h3:not(:last-child), .footer_social {
	border-right: 1px solid white;
}

.footer_social a:not(:last-child) {
	padding-right: 40px;
}